/* Max-width 1170px*/
@media screen and (max-width: 1170px) {

    /* Header Section */
    .logo {
        width: 13.66%;
        margin-left: 3%;
    }

    .menubar {
        text-align: center;
    }

    /* Food Section */
    .cooker {
        padding: 100px 0 50px;
    }

    .cooker h2 {
        font-size: 30px;
    }

    .cooker p {
        font-size: 16px;
        padding: 0 50px;
    }

    .food-food img {
        width: 90%;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 30%;
    }

    /* Right Food Section */
    .just-food p {
        padding: 10px 0;
        line-height: 1.5;
    }
}





/* Max-Width 1080px */
@media screen and (max-width: 1080px) {

    /* Header Section */
    .menubar ul li a {
        padding: 40px 20px;
    }

    .menubar ul li a:hover {
        padding: 35px 20px;
    }

    /* Right Food Section */
    .just-food h2 {
        font-size: 30px;
        padding-bottom: 10px;
    }
}




/* Max-width 992px */
@media screen and (max-width: 992px) {

    /* Header Section */
    .logo {
        width: 13.66%;
    }

    .logo img {
        width: 100%;
        padding: 15px 0;
    }

    .menubar ul li a {
        font-size: 14px;
    }

    .menubar ul .social-icon a i {
        color: #FFF;
    }

    /* Food Section */

    .food-food img {
        padding: 150px 0;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 32%;
        margin: 8% 2%;
        padding: 0 50px;
    }

    .vegetable-fine h2 {
        font-size: 25px;
        padding: 40px 0 20px;
    }

    /* Guest Reviews Section */
    .reviews p {
        font-size: 16px;
        line-height: 1.5;
    }

    /* Right Food Section */

    .just-food h2 {
        font-size: 25px;
    }

    .just-food p {
        font-size: 14px;
    }

    .contact input[type="text"],
    [type="email"],
    [type="date"],
    [type="number"] {
        padding: 5px;
        width: 140px;
    }
}




/* Max-Width 800px */
@media screen and (max-width: 800px) {

    /* Header Section */
    .menubar ul li a {
        padding: 40px 15px;
    }

    .menubar ul li a:hover {
        padding: 35px 15px;
    }

    /* Right Food Section */
    .just-food p {
        font-size: 12px;
        padding: 2px 0;
    }
}




/* Max-width 768px */
@media screen and (max-width: 768px) {

    /* Header Section */
    .logo img {
        padding: 22px 0 0;
    }

    .main-menu {
        display: none;
    }

    #mobile-icon {
        display: block;
        bottom: 40px;
        left: 530px;
        padding: 3px;
        font-size: 25px;
    }

    .mobile-menu .menubar {
        text-align: center;
        width: 400px;
        margin: 0 0 0 100px;
    }

    .menubar ul {
        margin: 0 0 0 60px;
        background-color: #00a0aa;
        width: 80%;
    }

    .menubar ul li {
        float: none;
    }

    .menubar ul li a {
        font-size: 15px;
        padding: 11px 10px;
        color: #FFF;
        border-bottom: 1px solid #000;
    }

    .menubar ul li a:hover {
        padding: 11px 10px;
        border: none;
        color: #FFF;
        background-color: black;
    }

    .mobile-menu .menubar ul li:last-child a {
        border-bottom: none;
    }

    /* Food Section */
    .cooker {
        padding: 50px 0;
    }

    .cooker h2 {
        font-size: 25px;
    }

    /* Vegetable Section */
    .vegetable-blank {
        display: none;
    }

    .vegetable-fine {
        width: 58%;
        margin: 8% 12%;
    }

    .vegetable-fine h2 {
        font-size: 36px;
    }

    /* Food Menu Section */
    .tzatsiki p {
        font-size: 18px;
    }

    /* Guest Reviews Section */
    .reviews p {
        font-size: 12px;
    }

    /* Right Food Section */
    .just-img {
        width: 46%;
        margin: 0 2%;
    }

    .just-food h2 {
        padding-bottom: 5px;
    }

    .just-food p {
        font-size: 10px;
    }

    .contact input[type="text"],
    [type="email"],
    [type="date"],
    [type="number"] {
        width: 90px;
    }

    /* Footer Section */
    .about {
        width: 100%;
        margin-bottom: 20px;
    }

    .opening-hours {
        width: 50%;
    }

}





@media screen and (max-width: 640px) {

    /* Header Section */
    .logo {
        width: 20%;
    }

    .logo img {
        padding: 8px 0 0;
    }

    #mobile-icon {
        bottom: 30px;
        left: 430px;
    }

    .mobile-menu .menubar {
        width: 300px;
    }

    /* Slider  */
    .slider h1 {
        padding-top: 20px;
        font-size: 25px;
        line-height: 1.2;
    }

    /* Right Food Section */
    .just-img {
        width: 90%;
        margin: 0 5%;
    }

    .just-img img {
        padding: 0;
    }

    .just-food {
        width: 90%;
    }

    .just-food h2 {
        padding-top: 20px;
        font-size: 30px;
    }

    .just-food p {
        font-size: 15px;
    }

    .contact input[type="text"],
    [type="email"],
    [type="date"],
    [type="number"] {
        width: 250px;
        padding: 10px;
    }
}




/* Max-width 525px */
@media screen and (max-width: 525px) {

    /* Header Section */
    .logo img {
        padding: 22px 0 0;
    }

    #mobile-icon {
        bottom: 35px;
        left: 330px;
    }

    .mobile-menu .menubar {
        width: 200px;
    }

    /* Food Section */

    .cooker {
        width: 100%;
        float: left;
    }

    .food-food {
        width: 100%;
        text-align: center;
    }

    .food-food img {
        padding: 20px 0;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 40%;
        margin: 8% 22%;
        padding: 0 30px;
    }

    .vegetable-fine h2 {
        font-size: 15px;
    }

    .vegetable-fine p {
        font-size: 12px;
    }

    .vegetable-fine img {
        width: 80%;
    }

    /* Food Menu Section */
    .food-appetisers {
        width: 87%;
    }

    /* Guest Reviews Section */
    .reviews {
        width: 60%;
        margin: 6% 20%;
        padding: 10px 0;
    }

    .reviews h2 {
        font-size: 15px;
    }

    .reviews p {
        padding: 0 20px;
    }

    .reviews p span {
        display: none;
    }

    /* Right Food Section */

    .contact input[type="text"],
    [type="email"],
    [type="date"],
    [type="number"] {
        width: 80%;
    }

    /* Footer Section */
    .opening-hours img {
        width: 80%;
    }

    .opening-hours h2 {
        font-size: 11px;
    }

    .opening-hours p {
        font-size: 11px;
    }

    .opening-hours ul li a {
        padding: 10px 10px 0 10px;
        display: block;
    }

}




/* Max-Width: 480px */
@media screen and (max-width: 480px) {

    /* Header Section */
    #mobile-icon {
        bottom: 35px;
        left: 280px;
    }

    .mobile-menu .menubar {
        width: 250px;
        margin: 0 35px;
    }

    .slider-btn a {
        padding: 10px 10px;
        margin-right: 15px;
        border: 1px solid #FFF;
        font-size: 12px;
    }
}





/* Max-width 360px */
@media screen and (max-width: 360px) {

    /* Header Section */

    .logo img {
        padding-top: 41px;
    }

    #mobile-icon {
        left: 250px;
    }

    .mobile-menu .menubar {
        width: 200px;
    }

    /* Guest Reviews Section */
    .reviews {
        width: 88%;
        margin: 6% 6%;
        padding: 10px 0;
    }

    /* Right Food Section Start */
    .just-food h2 {
        font-size: 28px;
    }

    /* Footer Section */
    .about-us {
        width: 100%;
    }

    .opening-hours h2 {
        font-size: 28px;
    }

    .opening-hours p {
        font-size: 16px;
    }

}

/* Max-Width: 320px */
@media screen and (max-width: 320px) {

    /* Header Section */
    .logo img {
        padding-top: 41px;
    }

    #mobile-icon {
        left: 230px;
    }


    .mobile-menu .menubar {
        width: 200px;
        margin: 0 20px;
    }
}