/* Max-width 1170px*/
@media screen and (max-width: 1170px) {

    /* Header Section */
    .logo {
        width: 13.66%;
        margin-left: 3%;
    }

    .menubar {
        text-align: center;
    }

    /* Food Section */

    .cooker h2 {
        font-size: 30px;
    }

    .cooker p {
        padding: 0 10%;
    }

    .food-food img {
        width: 90%;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 30%;
    }

    /* Right Food Section */
    .just-food p {
        padding: 10px 0;
        line-height: 1.5;
    }
}





/* Max-Width 1080px */
@media screen and (max-width: 1080px) {

    /* Header Section */
    .menubar ul li a {
        padding: 40px 20px;
    }

    .menubar ul li a:hover {
        padding: 35px 20px;
    }

    /* Right Food Section */
    .just-food h2 {
        font-size: 30px;
        padding-bottom: 10px;
    }
}




/* Max-width 992px */
@media screen and (max-width: 992px) {

    /* Header Section */
    .logo {
        width: 13.66%;
    }

    .logo img {
        width: 100%;
        padding: 15px 0;
    }

    .menubar ul li a {
        font-size: 14px;
    }

    .menubar ul .social-icon a i {
        color: #FFF;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 32%;
        margin: 8% 2%;
        padding: 0 50px;
    }

    .vegetable-fine h2 {
        font-size: 25px;
        padding: 40px 0 20px;
    }

    /* Guest Reviews Section */
    .reviews p {
        font-size: 16px;
        line-height: 1.5;
    }

    /* Right Food Section */

    .just-food h2 {
        font-size: 25px;
    }

    .just-food p {
        font-size: 14px;
        line-height: 1.5;
    }
}




/* Max-Width 800px */
@media screen and (max-width: 800px) {

    /* Header Section */
    .menubar ul li a {
        padding: 40px 15px;
    }

    .menubar ul li a:hover {
        padding: 35px 15px;
    }

    /* Right Food Section */
    .just-food p {
        font-size: 12px;
        padding: 2px 0;
    }
}




/* Max-width 768px */
@media screen and (max-width: 768px) {

    /* Header Section */
    .header {
        min-height: 65px;
    }

    .logo img {
        padding: 15px 0 0;
        width: 55%;
    }

    .main-menu {
        display: none;
    }

    #mobile-icon {
        display: block;
        bottom: 21px;
        left: 660px;
        padding: 0px 3px;
        font-size: 16px;
    }

    .mobile-menu {
        width: 100%;
        z-index: 9999;
    }

    .mobile-menu .menubar {
        text-align: center;
    }

    .menubar ul {
        background-color: #00a0aa;
        width: 100%;
    }

    .menubar ul li {
        float: none;
    }

    .menubar ul li a {
        font-size: 15px;
        padding: 11px 10px;
        color: #FFF;
        border-bottom: 1px solid #000;
    }

    .menubar ul li a:hover {
        padding: 11px 10px;
        border: none;
        color: #FFF;
        background-color: black;
    }

    .mobile-menu .menubar ul li:last-child a {
        border-bottom: none;
    }

    /* Food Section */
    .food {
        padding: 50px 0;
    }

    .cooker h2 {
        font-size: 25px;
    }

    /* Vegetable Section */
    .vegetable-blank {
        display: none;
    }

    .vegetable-fine {
        width: 63%;
        margin: 8% 12%;
        opacity: .5;
    }

    .vegetable-fine h2 {
        font-size: 36px;
    }

    .vegetable-fine p {
        font-size: 16px;
        line-height: 1.7;
    }

    /* Food Menu Section */
    .food-menu {
        padding: 50px 0 0;
    }

    .tzatsiki p {
        font-size: 18px;
    }

    /* Guest Reviews Section */
    .reviews {
        width: 76%;
        margin: 8% 12%;
        opacity: .5;
    }

    .reviews p {
        padding: 0 50px;
        font-size: 16px;
    }

    /* Right Food Section */
    .just-img {
        width: 46%;
        margin: 0 2%;
    }

    .just-food h2 {
        padding-bottom: 5px;
    }

    .just-food p {
        font-size: 12px;
    }

    /* Footer Section */
    .right-food {
        margin: 50px 0;
    }

    .about {
        width: 100%;
        margin-bottom: 20px;
    }

    .opening-hours {
        width: 50%;
    }

}





@media screen and (max-width: 640px) {

    /* Header Section */
    .header {
        min-height: 55px;
    }

    .logo img {
        padding: 21px 0 0;
    }

    #mobile-icon {
        left: 550px;
    }

    .menubar ul li a {
        padding: 8px 10px;
    }

    .menubar ul li a:hover {
        padding: 8px 10px;
    }

    /* Slider  */
    .slider h1 {
        padding-top: 20px;
        font-size: 25px;
        line-height: 1.2;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 65%;
        margin: 8% 10%;
    }

    /* Guest Reviews Section */
    .reviews {
        width: 80%;
        margin: 8% 10%;
    }

    /* Right Food Section */
    .just-img {
        width: 94%;
        margin: 0 3%;
    }

    .food-just-img {
        width: 46%;
        padding: 0 2%;
    }

    .just-img img {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .just-food {
        width: 90%;
    }

    .just-food h2 {
        padding-top: 20px;
        font-size: 30px;
    }

    .just-food p {
        font-size: 15px;
    }

    .contact {
        padding-top: 50px;
    }
}





/* Max-width 525px */
@media screen and (max-width: 525px) {

    /* Header Section */
    .logo img {
        padding: 18px 0 0;
    }

    #mobile-icon {
        left: 430px;
        bottom: 18px;
        padding: 0px 1px;
        font-size: 12px;
    }

    .mobile-menu .menubar ul li a {
        padding: 5px 10px;
        font-size: 14px;
    }

    .menubar ul li a:hover {
        padding: 5px 10px;
    }

    /* Food Section */

    .cooker {
        width: 100%;
        float: left;
    }

    .food-food {
        width: 100%;
        text-align: center;
    }

    .food-food img {
        padding-top: 50px;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 61%;
        margin: 9% 10%;
    }


    /* Food Menu Section */
    .food-appetisers {
        width: 87%;
    }

    /* Guest Reviews Section */
    .reviews {
        width: 80%;
        margin: 9% 10%;
    }

    /* Footer Section */
    .opening-hours img {
        width: 80%;
    }

    .opening-hours h2 {
        font-size: 11px;
    }

    .opening-hours p {
        font-size: 11px;
    }

    .opening-hours ul li a {
        padding: 10px 10px 0 10px;
        display: block;
    }

}




/* Max-Width: 480px */
@media screen and (max-width: 480px) {

    /* Header Section */
    .logo img {
        width: 90%;
    }

    #mobile-icon {
        left: 400px;
        bottom: 19px;
    }

    .mobile-menu .menubar ul li a {
        font-size: 12px;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 69.5%;
        margin: 9% 5%;
    }
}





/* Max-width 360px */
@media screen and (max-width: 360px) {

    /* Header Section */
    .logo img {
        width: 100%;
        padding: 20px 0 0;
    }

    #mobile-icon {
        left: 290px;
        bottom: 16px;
    }

    /* Slider Section */
    .slider {
        padding: 135px 0 135px;
    }

    .slider-btn a {
        padding: 5px 10px;
        margin-right: 10px;
        font-size: 12px;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 62.5%;
        margin: 9% 5%;
    }

    .vegetable-fine h2 {
        font-size: 28px;
    }

    /* Guest Reviews Section */
    .reviews {
        width: 88%;
        margin: 6% 6%;
        padding: 10px 0;
    }

    /* Right Food Section Start */
    .just-food h2 {
        font-size: 28px;
    }

    /* Footer Section */
    .about-us {
        width: 100%;
    }

    .opening-hours h2 {
        font-size: 28px;
    }

    .opening-hours p {
        font-size: 16px;
    }

}

/* Max-Width: 320px */
@media screen and (max-width: 320px) {
    .header {
        line-height: 31px;
    }

    .logo img {
        width: 100%;
        padding: 20px 0 0;
    }

    #mobile-icon {
        left: 250px;
        bottom: 21px;
        font-size: 12px;
    }

    /* Vegetable Section */
    .vegetable-fine {
        width: 59%;
        margin: 9% 5%;
    }

    .vegetable-fine h2 {
        font-size: 24px;
    }
}